.purchaseAmount__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.purchaseAmount__loading {
  display:inline-block;
  font-size: 17px;
  clip-path: inset(0 3ch 0 0);
  animation: step 1s steps(4) infinite;
}

@keyframes step {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}