.profile__container {
  display: flex;
  flex-direction: row;
  margin: 120px auto auto;
  max-width: 1240px;
}


.profile__nav {
  display: flex;
  flex-direction: column;
  height: calc(64px * 3);
  justify-content: space-around
}

.profile__link {
  text-decoration: none;
  color: #8585AD;
  cursor: pointer;
}

.profile__link_active{
  color:white;
}

.profile__wrapper {
  width: 320px;
}

.profile__text {
  color: rgba(133, 133, 173, 1);
}

.profile__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profile__buttons {
  display: flex;
}