.cardIngredient__wrapperCard {
  width: 272px;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.cardIngredient__img {
  height: 100%;
}

.cardIngredient__img:hover {
  cursor: pointer;
}

.cardIngredient__wrapperPrice {
  display: flex;
  gap: 10px;
}

.cardIngredient__name {
  text-align: center;
}

.cardIngredient__counter {
  display: none;
}

.navMenuIngredients__wrapper {
  display: flex;
}

.listIngredients {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 24px;
}

.tabBurgerIngredients__wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.tabBurgerIngredients__section {
  max-height: 69vh;
  overflow-y: auto;
}

.tabBurgerIngredients__section::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;  
}

.tabBurgerIngredients__section::-webkit-scrollbar-thumb {
  background-color: #8585AD;
} 